/cmd/go-bindata/cover.out
/cmd/go-bindata/go-bindata
/cover.html
/cover.out
/go-bindata
/internal/tests/inputDir/bindata.go
/internal/tests/inputDirRecursive/bindata.go
/internal/tests/inputDuplicateDir/bindata.go
/internal/tests/inputDuplicateFile/bindata.go
/internal/tests/inputFile/bindata.go
/internal/tests/inputSymlinkRecursive/bindata.go
/internal/tests/inputSymlinkToDir/bindata.go
/internal/tests/inputSymlinkToFile/bindata.go
/internal/tests/withDebug/bindata.go
/internal/tests/withNoCompress/bindata.go
/internal/tests/withNoCompressNoMemCopy/bindata.go
/internal/tests/withNoMemCopy/bindata.go
/internal/tests/withSplit/bindata.go
/internal/tests/withSplit/bindataInSplitTest1.go
/internal/tests/withSplit/bindataInSplitTest2.go
/internal/tests/withoutOutputFlag/bindata.go
/v4/cover.html
/v4/cover.out
/v4/internal/tests/inputDir/bindata.go
/v4/internal/tests/inputDirRecursive/bindata.go
/v4/internal/tests/inputDuplicateDir/bindata.go
/v4/internal/tests/inputDuplicateFile/bindata.go
/v4/internal/tests/inputFile/bindata.go
/v4/internal/tests/inputSymlinkRecursive/bindata.go
/v4/internal/tests/inputSymlinkToDir/bindata.go
/v4/internal/tests/inputSymlinkToFile/bindata.go
/v4/internal/tests/withDebug/bindata.go
/v4/internal/tests/withNoCompress/bindata.go
/v4/internal/tests/withNoCompressNoMemCopy/bindata.go
/v4/internal/tests/withNoMemCopy/bindata.go
/v4/internal/tests/withSplit/bindata.go
/v4/internal/tests/withSplit/bindataInSplitTest1.go
/v4/internal/tests/withSplit/bindataInSplitTest2.go
/v4/internal/tests/withoutOutputFlag/bindata.go
